extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to update
    else
        - let dressid = toShow._id
        - let dress_type = toShow.dress_type
        - let dress_size = toShow.dress_size
        - let dress_price = toShow.dress_price
        div.row(class='mb-2')
            div.mr-1 ID is
                div #{dressid}
                - let actionid = "/resource/dressUp/" + dressid
                form(id='dressForm', action= actionid, method="POST")
                    div.form-group
                        label.dressAttr(for='dress_type') Dress Type
                        input#dress_type(type='text' name='dress_type', value= dress_type)
                    div.form-group
                        label.dressAttr(for='dress_size') Dress Size
                        input#dress_size(type='text' name='dress_size', value= dress_size)
                    div.form-group
                        label.dressAttr(for='dress_price') Dress Price
                        input#dress_price(type='number' name='dress_price', value= dress_price)
                    input(type="submit")
    script.
        document.forms['dressForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
        });
